body {
	margin: 0;
}
body *{
	box-sizing: border-box;
}
header{
	background: lightgray;
	margin: 0;
}
h1{
	display: inline-block;
	margin: 0;
}
main{
	width: 80%;
	margin: 50px auto 0;
}
.nav *{
	margin: 0;
	text-decoration: none;
}
.nav{
	display: inline-block;
	position: absolute;
	right: 0;
	padding-top: 5px;
}
.nav li{
	display: inline-block;
	list-style: none;
	margin-right: 10px;
	font-size: 25px;
}
.btn-search{
	width: 30px;
	height: 30px;
	margin: 18px 0;
	background: url(../img/search-png.png);
	background-size: contain;
	align-self: flex-end;
}
.input{
    margin: 16px 0;
    height: 30px;
    width: 400px;
    margin-right: 5px;
}
.form{
	display: flex;
	align-items: center;
}
.form *{
	border-radius: 5px;
	border: 1px lightgray solid;
}
.selector{
	display: block;
	width: 800px;
	clear: both;
}
.selector *{
	border: 1px lightgray solid;
	background: white;
	display: inline-block;
	margin:0;
	padding: 2px;
	font-size: 35px;
	float: left;
}
.selector>:nth-child(1){
	border-radius: 5px 0 0 5px;
	border-right: none;
}
.selector>:nth-child(3){
	border-radius: 0 5px 5px 0;
	border-left: none;
}
.job{
	display: block;
	float: left;
}
.job *{
	display: inline-block;
}
